/* mobile và tablet */

@media screen and (max-width:1023px) {
   
    
    .hide-on-mobile-tablet{
        display: none;
    }

    .header__cart-list{
        width: 100%;
        position: fixed;
        right: 0;
        top: var(--header-height);
        padding: 0 calc((100% - 644px)/2);
    }
    .header__cart-list::before{
        display: none;
    }
    .header{
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;
    }
    .app__container{
        margin-top: calc(var(--header-height) + var(--header__sort-bar-height)) ;
    }

    .header__sort-bar{
        display: flex;
    }

    .app-content{
        padding-top:8px ;
    }

    .mobile-category{
        display: block;
    }
}

/* tablet */


@media screen and (min-width:740px) and (max-width:1023px) {
    :root{
        --header-height:70px;
        --navbar-height:0px;
    }
    .hide-on-tablet{
        display: none;
    }
    .header__cart{
        width: 72px;
        text-align: right;
    }
    .header__logo{
        width: 100px;
    }
    .header__logo-img{
        width: 75px;
    }
}

/* moble */

@media screen and (max-width:739px) {
    :root{
        --header-height:54px;
        --navbar-height:0px;
    }
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header__logo,.header__cart{
        width: unset;
    }
    .header__search{
        position: fixed;
        left: 0;
        top:var(--header-height);
        right: 0;
        height: 46px;
        box-shadow: 0 0 2px rgb(0 0 0 / 50%);
        padding: 0 12px;
        animation: searchMobileSideIn linear .3s;
        display: none;
    }

    .header__search-history{
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header__sort-bar-height));
        left: 0;
        box-shadow: 0 1px rgb(0 0 0 / 50%);
    }

    .pagination-item{
        margin: 0;
    }

    .pagination-item__link{
        height: -28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .app-content{
        margin: 0 4px;
        padding-top:8px ;
    }

    .header__mobile-search{
        display: block;
    }


    .header__logo-img{
        width: 100px;
    }

    .footer__content{
        padding: 0 16px;
    }


    .footer__heading{
        text-align: center;
    }

    .footer__heading-item{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer__heading-item-link{
        justify-content: center;
    }
    .footer__application{
        justify-content: center;
    }
    @keyframes searchMobileSideIn {
        from{
            top:calc(var(--header-height) / 2);
            opacity: 0;
        }
        to{
            top: var(--header-height);
            opacity: 1;
        }
    }
}